@import (less) '../../node_modules/normalize.css/normalize.css';
@import '../js/components/feed/feed.less';
body {
    background-color: #fafafa;
}
.heart {
    &.fill {
        fill: #ed4956;
    }
}
.comment {
    a.commentTag {
        color: rgba(0,53,105,0.75);
    }
}
